.err {
  font-size: 40px;
  text-transform: capitalize;
  flex-direction: column;
  display: flex;
  // height: 100%;
  align-items: center;
  margin: 0;
  justify-content: center;
  height: 457px;
  .err404{
      font-size: 70px;
      margin: 0;
        
    }
}
